# --- Servidor Web ---
flask
flask-cors
requests

# --- Base de Datos ---
psycopg2-binary
pgvector          # Vital para hablar con la base de datos vectorial
python-dotenv

# --- Inteligencia Artificial (Cerebro) ---
groq
langchain
langchain-groq
langchain-community

# --- RAG (Lectura y Vectores) ---
pypdf                   # Para leer tus manuales PDF
sentence-transformers   # Para convertir texto a números (Embeddings)
numpy                   # Matemáticas para los vectores